/* Larger View Styles */
@media (min-width: 768px) {

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;
        padding: 1rem 2rem;
    }

    nav ul {
        justify-content: flex-end;
    }

    main {
        max-width: 1100px;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}