/* Base styles without media query */
body {
    font-family: 'Roboto', sans-serif;
}

header,
main,
footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid #bbb;
    padding: 1rem;
    background-color: #e6f2ff;
    /* blueish background */
}

main {
    display: grid;
    grid-template-columns: 1fr;
    /* one column */
    grid-gap: 1rem;
    /* equal gap */
}

section {
    padding: 1rem;
    background-color: #fff;
    /* lighter background */
}